name: CI/CD
on: [pull_request]
    branches:
      - master
jobs:
  check:
    runs-on: ubuntu-20.04
    environment: Production
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: artifacts
          path: |
            cypress/videos/
            cypress/screenshots/